.container {
  margin-top: var(--spacing-large);
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-medium);
}
.item {
  color: var(--color-white);
  justify-self: start;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}
.img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center center;
  border-radius: var(--border-radius-medium);
}
.name {}
.comment {
  margin-top: var(--spacing-large);
  color: var(--color-white);
}
