.text {
  max-width: 600px;
  margin: 100px auto;
  font-size: var(--font-size-header);
  color: var(--color-yellow);
  text-align: center;
  line-height: 1.7;
  text-shadow: 0 0 2px var(--color-white);
  -webkit-text-stroke-color: var(--color-yellow);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-fill-color: transparent;
}
